---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
	<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white nav-border">
		  <a class="navbar-brand ml-5 nav-name" href="index.html"><strong>Saket</strong> Saurabh</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" />
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		         <ul class="navbar-nav ml-auto mr-5">
		             <li class="nav-item">
		                 <a class="nav-link" href="{{ site.url }}/projects.html">projects</a>
		             </li>
		             <li class="nav-item">
		                 <a class="nav-link" href="{{ site.url }}/misc.html">misc</a>
		             </li>
		             <li class="nav-item">
		                 <a class="nav-link" href="{{ site.url }}/sketch.html">sketches</a>
		             </li>
		             <li class="nav-item">
		                 <a class="nav-link" href="#">publication</a>
		             </li>
		             <li class="nav-item">
		                 <a class="nav-link" href="index.html">blog</a>
		             </li>
		         </ul>
		     </div>
	</nav>
    <main role="main">
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            
  </body>
</html>
